$padding-01: 1px;
$padding-02: 2px;
$padding-04: 4px;
$padding-05: 5px;
$padding-06: 6px;
$padding-08: 8px;
$padding-10: 10px;
$padding-12: 12px;
$padding-14: 14px;
$padding-16: 16px;
$padding-18: 18px;
$padding-20: 20px;
$padding-32: 32px;
$padding-40: 40px;
$padding-50: 50px;
$breakpoint-sm: 700px;
