<div class="dialog-button">
  <p-button (onClick)="showDialog()" label="Show" />
</div>
<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span>Update your information.</span>
  <form class="dialog-form">
    <div class="form-group">
      <label for="title" class="form-group__items">Title</label>
      <input pInputText id="title" name="title" autocomplete="off" [(ngModel)]="title" />
    </div>
    <div class="form-group">
      <label for="description" class="form-group__items">Description</label>
      <input pInputText id="description" name="description" autocomplete="off" [(ngModel)]="description"/>
    </div>
    <div class="form-group__actions">
      <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
      <p-button label="Add" (onClick)="addPrimeNgDataItem()" />
    </div>
  </form>
</p-dialog>
